html,body {margin:0 auto; max-width: 100vw;}
a {text-decoration:none}
*, pre {
  box-sizing: border-box;
  font-family: 'NotoSans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin:0;padding:0;box-sizing:border-box;font:inherit;color:inherit;
  font-family: 'NotoSans';
}
ul,li {list-style: none;}

*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 0px;
  background-clip: padding-box;
}
*::-webkit-scrollbar-track {
  background-color: #f2f2f2;
  border-radius: 0px;
}
@font-face {
  font-family: 'NotoSans';
  src: url('/fonts/NotoSansKR-Thin.otf');
  font-weight: 100;
}

@font-face {
  font-family: 'NotoSans';
  src: url('/fonts/NotoSansKR-Light.otf');
  font-weight: 300;
}

@font-face {
  font-family: 'NotoSans';
  src: url('/fonts/NotoSansKR-Regular.otf');
  font-weight: 400;
}

@font-face {
  font-family: 'NotoSans';
  src: url('/fonts/NotoSansKR-Medium.otf');
  font-weight: 500;
}

@font-face {
  font-family: 'NotoSans';
  src: url('/fonts/NotoSansKR-Bold.otf');
  font-weight: 700;
}

@font-face {
  font-family: 'NotoSans';
  src: url('/fonts/NotoSansKR-Black.otf');
  font-weight: 900;
}

// common(font-size, weight, color...)==================
:root {
  --home-red: #d21123;
  --home-white: #ffffff;
  --home-black: #000000;
  --home-black2: #0f0f0f;
  --home-black3: #191919;
  --home-gray: #999999;
  --home-gray2: #666666;
  --home-bg-gray: #f5f5f8;
}
.b-red { color: var(--home-red);}
.b-white { color: var(--home-white);}
.b-black { color: var(--home-black);}
.b-gray { color: var(--home-gray);}
.b-gray2 { color: var(--home-gray2);}
.b-black3 { color: var(--home-black3);}
.f14 { font-size: 3.5vw; letter-spacing: -0.7px;}
.f15 { font-size: 3.6vw; letter-spacing: -0.4px;}
.f16 { font-size: 3.7vw; letter-spacing: -0.4px;}
.f18-1 { font-size: 18px; letter-spacing: 0px;}
.f18-2 { font-size: 18px; letter-spacing: -0.45px;}
.f19 { font-size: 3.8vw; letter-spacing: 0px;}
.f20 { font-size: 4vw; letter-spacing: -0.5px;}
.f22 { font-size: 5vw; letter-spacing: -0.55px;}
.f23 { font-size: 6vw; letter-spacing: -1.15px;}
.f24 { font-size: 24px; letter-spacing: -0.6px;}
.f28 { font-size: 8vw; font-weight: bold; letter-spacing: -0.7px;}
.f30 { font-size: 30px; font-weight: bold; letter-spacing: -0.75px;}
.f32 { font-size: 32px; font-weight: bold; letter-spacing: -0.8px;}
.f34 { font-size: 34px; font-weight: bold; letter-spacing: -0.85px;}
.f36 { font-size: 36px; font-weight: bold; }
.f38 { font-size: 38px; font-weight: bold; letter-spacing: -0.95px;}
.f40 { font-size: 40px; font-weight: bold; letter-spacing: -1px;}
.f42 { font-size: 42px; letter-spacing: -1.05px;}
.f46 { font-size: 46px; font-weight: bold; letter-spacing: -1.15px;}
.f48 { font-size: 48px;}
.f50 { font-size: 50px; font-weight: bold; letter-spacing: -1.25px;}
.f56 { font-size: 56px; font-weight: bold; }
.f60 { font-size: 60px; font-weight: bold; }
.f80 { font-size: 80px; font-weight: bold; }
.f110 { font-size: 110px; font-weight: bold; }

// vuetiry===============================================
.v-navigation-drawer__content {
  flex: 0 1 auto;
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding-left: 20%;
}
.v-window__right{
  position: relative;
  top: 38%;
  right: 67%;
  background: transparent;
  border: 1px solid #ffffff;
  width: 36px !important;
  height: 36px !important;
  color: #ffffff !important;
  border-radius: 100%;
}
.v-window__left{
  position: relative;
  top: 38%;
  left: 10%;
  background: transparent;
  border: 1px solid #ffffff;
  width: 36px !important;
  height: 36px !important;
  color: #ffffff !important;
  border-radius: 100%;
}
.v-window__left:hover, .v-window__right:hover {
  border: 1px solid #d21123 !important;
  background: #d21123 !important;
  transform: rotate(62deg);
}
.carousel__prev,
.carousel__next {
  top: -90% !important;
  border: 1px solid #898989 !important;
  border-radius: 100% !important;
}
.carousel__prev {
  left: 90% !important;
}
.carousel__next {
  right: 5% !important;
}
.carousel__prev:hover,
.carousel__next:hover {
  color: #ffffff !important;
  background: #000000;
  border: 1px solid #000000;
}
.v-select .v-field .v-field__input > input {height: 100%; padding-left: 7px;}
.v-select__selection-text, .v-field__input {padding-left: 7px;}
// default===============================================
.wrap { .top-btn {right: 0;} }

// header================================================
.v-navigation-drawer__content { padding-left: 0; display: list-item; }
.mdi-chevron-down, .mdi-chevron-up {font-size: 30px; padding-right: 60%;}
// company===============================================
.carousel__pagination-button::after {
  width: 6px !important; height: 6px !important;
  background-color: #c7c7c7 !important;
  border-radius: 10px !important;
}
.carousel__pagination-button--active::after {
  width: 30px !important; height: 6px !important;
  background: #d21123 !important;
  border-radius: 6px !important;
}
//==================================================
@media all and (min-width:768px) and (max-width:1024px) {

}

@media all and (min-width:480px) and (max-width:767px) {

}

@media all and (max-width:479px) {

}